@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Banner */

.descuentos-banner {
    width: 100%;
    background: #D1891C;
    margin-top: -18px;
    height: 38px;
    box-sizing: border-box;
}
.descuentos-banner p {
    padding: 10px;
}
header {
    position: sticky;
    top: 0;
    z-index: 7; 
}
.banner-title {
    position: sticky;
    color: white;
    top: 0;
    z-index: 7;
    margin-top: -38px;
    width: 100%;
    box-sizing: border-box;
    height: 101px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h1 {
    font-size: 40px;
    padding: 21px;
    font-weight: 400;
}

/* Cards images*/
main {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
}
.heroe {
    margin-top: 60px;
    box-sizing: border-box;
}
.heroes-img {
    position: relative;
    width: 300px;
    height: 198px;
}
.heroes-img i {
    position: absolute;
    left: 21px;
    top: 30px;
    color: #CC2424;
}
.heroe-icon {
    position: absolute;
    width: 40%;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 5;
}
.heroe-background {
    max-width:100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

/* Card text */ 
.uppercase {
    text-transform: uppercase;
}
.heroes-text {   
    background: #F3F3F3;
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 340px;
    margin-top: -37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heroe-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 73px;
}
.heroe-description {
    position: relative;
    top: 50px;
    padding-left: 17px;
    padding-right: 17px;
}
.heroe-button {
    position: relative;
    text-align: center;
    color: white;
    border: none;
    background-color: #00669F;
    width: 128.78px;
    height: 48.52px;
    top: 70px;
    left: 85px;
}

/*Añadir heroe */
.añadir-heroe a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.añadir-heroe {
    position: fixed;
    right: 15px;
    top: 50%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #00669F; 
    text-align: center;
}

/* footer */

footer {
    background-color: #00669F;
    height: 51px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    padding: 16px;
}
footer img {
    height: 25px;
    position: absolute;
    right: 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    .banner-title {
        margin-top: -30px;
    }
    footer p {
        font-size: 12px;
    }
    footer img {
        height: 20px;
        right: 15px;
    }
}
@media (max-width: 448px) {
    footer {
        display: block;
        text-align: center;
        height: 90px;
    }
    footer img {
        height: 15px;
        position: relative;
        right: 0;
    }
}